{{>partials/header}}

<div class="container"> 
  <!--{{#banner}}
    <h1>{{title}}</h1>
  {{/banner}}-->
  <div class="rent-area">
  {{#surfboards}}
    <form class="form-input" method="POST" action="/addnewrent">
      <h2 class="form-title">Customer Info:</h2>
      <label class="rent-label" for="customer">Name:</label>
      <input class="input-area name" id="customer" name="name" type="text" /> <!--value='{{id}}'-->       
      <label class="rent-label" for="document">Document:</label>
      <input class="document" id="document" name="document" type="file" />
      <label class="rent-label" for="adress">Address:</label>
      <input class="input-area" id="adress" name="address" type="text" />
      <label class="rent-label" for="equipment">Equipment:</label>
      <input class="input-area" id="equipment" name="equipment" type="text"  value="{{equipment}}" />
      <div class="date-area">  
        <div class="date-input"> 
          <label class="rent-label" for="date-start">Date Start:</label>
          <input class="input-area date" id="date-start" name="date_start" type="date" />
        </div>
        <div class="date-input">
          <label class="rent-label" for="date-end">Date End:</label>
          <input class="input-area date" id="date-end" name="date_end" type="date" />
        </div>
      </div>
      <label class="rent-label" for="info">Info:</label>
      <textarea class="input-area info" name="info" id="info"></textarea>
      <input type="submit" class="btn-submit" value="Confirm"/>
    </form>
    <div class="equipment-area">
      
        <div class="equipment-area--img">
            <img class="equipment-img" src="/images/{{image}}"/>
        </div>
        <div class="equipment-area--text">
          <div class="equipment--id">Surfboard: #{{id}}</div>
          <div class="equipment--brand">Brand: {{brand}}</div>
          <div class="equipment--size">Size: {{size}}</div>
          <div class="equipment--info">Info: {{info}}</div>
        </div>
      {{/surfboards}}
    </div>
  </div>
  {{#id}}
  <h1>id: {{id}}</h1>
  {{/id}}
</div>

{{>partials/footer}}